# Fichier de configuration de Decap CMS
# ATTENTION : L'INDENTATION EST TRÈS IMPORTANTE.
# N'UTILISEZ PAS DE TABULATIONS ( touche "Tab" ),
# UTILISEZ SEULEMENT DES ESPACES ( 2 espaces ).

# 1. Backend (Où est le code ?)
backend:
  name: git-gateway
  branch: main

# 2. Média (Où stocker les images)
media_folder: "public/images/uploads"
public_folder: "/images/uploads"

# 3. Collections (CE SONT VOS FICHIERS JSON)
collections:
  # Première collection : Les Actions
  - name: "actions"
    label: "Actions"
    files:
      - label: "Toutes les Actions"
        name: "actions"
        file: "src/data/actions.json"
        fields:
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Date (Texte)", name: "infoPratique", widget: "string"}
          - {label: "Date (ISO)", name: "dateISO", widget: "date"}
          - {label: "Lieu", name: "lieu", widget: "string"}
          - {label: "Lien Google Maps", name: "lienLieu", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "Lien Programme", name: "lienProgramme", widget: "string"}

  # Deuxième collection : Les Partenaires
  - name: "partenaires"
    label: "Partenaires"
    files:
      - label: "Tous les Partenaires"
        name: "partenaires"
        file: "src/data/partenaires.json"
        fields:
          - {label: "Nom", name: "nom", widget: "string"}
          - {label: "Logo (chemin)", name: "logo", widget: "string"}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "Lien Google Maps", name: "lienAdresse", widget: "string"}
          - {label: "Lien Site Web", name: "lienSite", widget: "string"}

  # Troisième collection : Les Actualités
  - name: "actus"
    label: "Actualités"
    files:
      - label: "Toutes les Actualités"
        name: "actus"
        file: "src/data/actus.json"
        fields:
          - {label: "Titre", name: "titre", widget: "string"}
          - {label: "Date (ISO)", name: "dateISO", widget: "date"}
          - {label: "Catégorie", name: "categorie", widget: "select", options: ["Fac", "Pau"]}
          - {label: "Description", name: "description", widget: "text"}
          - {label: "Image (chemin)", name: "image", widget: "string"}
          - {label: "Lien Externe", name: "lien", widget: "string"}
          - {label: "Épinglé ?", name: "isPinned", widget: "boolean", default: false}