@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Mode Jour par défaut */
  background-color: #f8fafc; /* Slate-50 (Blanc cassé très léger) */
  color: #0f172a; /* Texte sombre */
}

/* Mode Nuit */
.dark body {
  background-color: #0f172a;
  color: white;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { @apply bg-slate-100 dark:bg-[#0f172a]; }
::-webkit-scrollbar-thumb { @apply bg-slate-300 dark:bg-slate-700 rounded-full; }
::-webkit-scrollbar-thumb:hover { @apply bg-slate-400 dark:bg-slate-600; }