/* src/index.css */

/* 1. On force le HTML et le BODY à faire 100% de la hauteur
      et à avoir un fond BLANC. */
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  
  /* C'EST LA CORRECTION : FORCE LE FOND EN BLANC */
  background-color: #ffffff; 
}

/* 2. On force l'élément #root (où React s'attache) 
      à faire 100% de la hauteur aussi. */
#root {
  height: 100%;
}

